body { padding-top: 70px; }

#helloId{float: right; color: #3175AF;}

img {
	width: 6vw;
	/*height: 1vh;*/
}

/*home*/

#searchForm{
	padding-top: 150px;
}

.headHome{
	background-image: url(../../img/banner.jpg);
	width: 100%;
	height: 433px;
}

#searchPanel{
	width: 500px;
	margin: 10px auto;
}

#searchButton{
	margin-left: 45%;
}

.center{
	margin-left: 35%;
}

/*details*/
#posterDetailsMovies{
	background-repeat: no-repeat;
	/*width: 100%;*/
	height: 50%;
	position: relative;
	left: 13px;
	margin-right: 60px;
}

#catName{
	position: relative;
	top: 0px;
	left: 0px;
	color: #3498db;
}

/*create categorie*/
#newCategory{
	position: relative;
	line-height: 20px;
	margin-top: 5%;
	vertical-align: center;
}

#newCategory input[type="text"]{
	width: 20%;
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
}
.result{
    position: absolute;        
    z-index: 999;
    top: 100%;
    left: 0;
}
#newCategory input[type="text"], .result{
    width: 20%;
    box-sizing: border-box;
}

/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result p:hover{
    background: #f2f2f2;
}